<font size="6"> 2. Data Validation & Trasformation </font>

In [8]:
import pandas as pd
import numpy as np

#### IMPORT DATAFRAME
db_tr = pd.read_csv("db_v01.csv", sep = ",")
db_tr.head(5)

,ID_CRM,Poverty_Code,Region,CRM_Segment,School_Type,Parent_Meeting_Flag,MDR_Low_Grade,MDR_High_Grade,Total_School_Enrollment,Income_Level,...,SPR_Group_Revenue,FPP_to_PAX,Num_of_Non_FPP_PAX,compound,num_words,num_tweets,compound_min,compound_max,num_words_max,num_words_min
0,01000I,0,Other,10.0,Catholic,1.0,PK,8.0,403.0,I,...,1080.0,"0,883965173706063",2.0,0.178200,21.333333,3.0,0.0000,0.5106,24.0,17.0
1,01001O,0,Other,9.0,CHD,1.0,K,12.0,732.0,O,...,980.0,"0,969502836569957",4.0,0.549233,16.000000,3.0,0.0000,0.9307,19.0,10.0
2,01002G,0,Other,5.0,Catholic,1.0,K,8.0,521.0,G,...,1535.0,"0,902901999738532",3.0,0.164200,8.333333,3.0,0.0000,0.4926,13.0,5.0
3,01011Q,0,Other,9.0,CHD,1.0,K,12.0,437.0,Q,...,1316.0,"0,931510148972007",1.0,-0.215000,10.666667,3.0,-0.4215,0.0000,16.0,8.0
4,01013I,0,Dallas,1.0,CHD,1.0,PK,12.0,226.0,I,...,1702.0,"0,918461093031125",1.0,0.697367,8.666667,3.0,0.6369,0.7964,10.0,8.0

In [9]:
db_tr.describe()

,CRM_Segment,Parent_Meeting_Flag,MDR_High_Grade,Total_School_Enrollment,SPR_New_Existing,NumberOfMeetingswithParents,DifferenceTraveltoFirstMeeting,DifferenceTraveltoLastMeeting,ID,From_Grade,...,School_Sponsor,SPR_Group_Revenue,Num_of_Non_FPP_PAX,compound,num_words,num_tweets,compound_min,compound_max,num_words_max,num_words_min
count,4144.000000,4148.000000,4032.000000,4148.000000,4148.000000,4148.000000,3552.000000,3552.000000,4159.000000,3927.000000,...,4151.000000,4151.000000,4151.000000,4148.000000,4148.000000,4148.000000,4148.000000,4148.000000,4148.000000,4148.000000
mean,6.909025,0.856316,8.391865,622.851495,0.504581,1.099084,262.120495,228.786881,2513.316182,7.283168,...,0.111539,1611.224283,2.967719,0.054108,16.648646,3.063163,-0.257460,0.362308,22.169479,10.870299
std,2.779563,0.350811,1.757209,422.545614,0.500039,0.613779,79.925808,53.645261,1577.339654,1.977917,...,0.314837,654.738269,2.955969,0.340319,4.231099,0.243285,0.383354,0.369276,4.138367,5.723056
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-209.000000,-208.000000,2.000000,1.000000,...,0.000000,73.000000,0.000000,-0.832933,3.666667,3.000000,-0.966800,-0.790200,5.000000,1.000000
25%,5.000000,1.000000,8.000000,336.000000,0.000000,1.000000,208.000000,196.000000,1226.500000,6.000000,...,0.000000,1155.500000,1.000000,-0.177108,13.666667,3.000000,-0.566250,0.000000,20.000000,6.000000
50%,6.000000,1.000000,8.000000,571.000000,1.000000,1.000000,250.000000,232.000000,2499.000000,7.000000,...,0.000000,1706.000000,2.000000,0.045033,17.000000,3.000000,-0.296000,0.421500,23.000000,10.000000
75%,10.000000,1.000000,8.000000,821.000000,1.000000,1.000000,290.000000,261.000000,3765.500000,9.000000,...,0.000000,2059.000000,4.000000,0.279567,19.687500,3.000000,0.000000,0.668825,25.000000,15.000000
max,12.000000,1.000000,12.000000,4005.000000,1.000000,2.000000,752.000000,759.000000,36320.000000,14.000000,...,1.000000,4610.000000,50.000000,0.885933,27.333333,4.000000,0.848100,0.976000,35.000000,26.000000

<font size="6"> 2.1 Data Preparation -> Not Finish/To do ....</font>

In [10]:

db_tr_mod=db_tr
db_tr_mod.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4159 entries, 0 to 4158
Data columns (total 64 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_CRM                          4148 non-null   object
 1   Poverty_Code                    4148 non-null   object
 2   Region                          4148 non-null   object
 3   CRM_Segment                     4144 non-null   float64
 4   School_Type                     4148 non-null   object
 5   Parent_Meeting_Flag             4148 non-null   float64
 6   MDR_Low_Grade                   4148 non-null   object
 7   MDR_High_Grade                  4032 non-null   float64
 8   Total_School_Enrollment         4148 non-null   float64
 9   Income_Level                    4148 non-null   object
 10  SPR_New_Existing                4148 non-null   float64
 11  NumberOfMeetingswithParents     4148 non-null   float64
 12  FirstMeeting                    3552 non-null   object
 13  LastMeeting                     3552 non-null   object
 14  DifferenceTraveltoFirstMeeting  3552 non-null   float64
 15  DifferenceTraveltoLastMeeting   3552 non-null   float64
 16  SchoolGradeTypeLow              4148 non-null   object
 17  SchoolGradeTypeHigh             4148 non-null   object
 18  SchoolGradeType                 4148 non-null   object
 19  SchoolSizeIndicator             3989 non-null   object
 20  ID                              4159 non-null   int64
 21  ID_SALES                        4153 non-null   object
 22  Program_Code                    4153 non-null   object
 23  From_Grade                      3927 non-null   float64
 24  To_Grade                        3884 non-null   float64
 25  Group_State                     4153 non-null   object
 26  Days                            4153 non-null   float64
 27  Travel_Type                     4153 non-null   object
 28  Departure_Date                  4153 non-null   object
 29  Return_Date                     4153 non-null   object
 30  Early_RPL                       2985 non-null   object
 31  Latest_RPL                      4116 non-null   object
 32  Cancelled_Pax                   4153 non-null   float64
 33  Total_Discount_Pax              4153 non-null   float64
 34  Initial_System_Date             4137 non-null   object
 35  SPR_Product_Type                4153 non-null   object
 36  FPP                             4153 non-null   float64
 37  Total_Pax                       4153 non-null   float64
 38  DepartureMonth                  4153 non-null   object
 39  GroupGradeTypeLow               4153 non-null   object
 40  GroupGradeTypeHigh              4153 non-null   object
 41  GroupGradeType                  4153 non-null   object
 42  MajorProgramCode                4153 non-null   object
 43  FPP_to_School_enrollment        3994 non-null   object
 44  Retained                        4153 non-null   float64
 45  ID_FINANCE                      4151 non-null   object
 46  Deposit_Date                    4151 non-null   object
 47  Special_Pay                     829 non-null    object
 48  Tuition                         4151 non-null   float64
 49  FRP_Active                      4151 non-null   float64
 50  FRP_Cancelled                   4151 non-null   float64
 51  FRP_Take_up_percent_            4151 non-null   object
 52  EZ_Pay_Take_Up_Rate             4151 non-null   object
 53  School_Sponsor                  4151 non-null   float64
 54  SPR_Group_Revenue               4151 non-null   float64
 55  FPP_to_PAX                      4151 non-null   object
 56  Num_of_Non_FPP_PAX              4151 non-null   float64
 57  compound                        4148 non-null   float64
 58  num_words                       4148 non-null   float64
 59  num_tweets                      4148 non-null   float64
 60  compound_min                    4148 non-null   float64
 61  compound_max                    4148 non-null   float64
 62  num_words_max                   4148 non-null   float64
 63  num_words_min                   4148 non-null   float64
dtypes: float64(29), int64(1), object(34)
memory usage: 2.0+ MB

In [11]:
###########################################
######## 1 DATA TYPE TRANSFORMATION
############################################

######## 1 TARGET TRANSFORMATION
db_tr_mod['Retained'] = ['ret' if x == 1 else 'churn' for x in db_tr_mod['Retained']]

######## 2 CONVERT NUMBER TO STRING 
db_tr_mod['CRM_Segment'] = db_tr_mod['CRM_Segment'].astype(str)

######## 3 CONVERT STRING TO FLOAT -> I DONT KNOW    ????????
#db_tr_mod['FPP_to_School_enrollment'] = [x.replace(',', '.') for x in db_tr_mod['FPP_to_School_enrollment']]
#db_tr_mod['FPP_to_School_enrollment'] = db_tr_mod['FPP_to_School_enrollment'].astype(float)

#db_tr_mod['FPP_to_PAX'] = [x.replace(',', '.') for x in db_tr_mod['FPP_to_PAX']]
#db_tr_mod['FPP_to_PAX'] = db_tr_mod['FPP_to_PAX'].astype(float)

#db_tr_mod['FRP_Take_up_percent_'] = [x.replace(',', '.') for x in db_tr_mod['FRP_Take_up_percent_']]
#db_tr_mod['FRP_Take_up_percent_'] = db_tr_mod['FRP_Take_up_percent_'].astype(float)

#db_tr_mod['EZ_Pay_Take_Up_Rate'] = [x.replace(',', '.') for x in db_tr_mod['EZ_Pay_Take_Up_Rate']]
#db_tr_mod['EZ_Pay_Take_Up_Rate'] = db_tr_mod['EZ_Pay_Take_Up_Rate'].astype(float)

######## 4 DATE TRASFORMATION
db_tr_mod['FirstMeeting'] = pd.to_datetime(db_tr_mod['FirstMeeting'])#, format= '%d/%m/%y')
db_tr_mod['Y_FirstMeeting'] = db_tr_mod['FirstMeeting'].dt.year.astype(str)
db_tr_mod['M_FirstMeeting'] = db_tr_mod['FirstMeeting'].dt.month.astype(str)

db_tr_mod['LastMeeting'] = pd.to_datetime(db_tr_mod['LastMeeting'])#, format= '%d/%m/%y')
db_tr_mod['Y_LastMeeting'] = db_tr_mod['LastMeeting'].dt.year.astype(str)
db_tr_mod['M_LastMeeting'] = db_tr_mod['LastMeeting'].dt.month.astype(str)

db_tr_mod['Departure_Date'] = pd.to_datetime(db_tr_mod['Departure_Date'])#, format= '%d/%m/%y')
db_tr_mod['Y_Departure_Date'] = db_tr_mod['Departure_Date'].dt.year.astype(str)
db_tr_mod['M_Departure_Date'] = db_tr_mod['Departure_Date'].dt.month.astype(str)

db_tr_mod['Return_Date'] = pd.to_datetime(db_tr_mod['Return_Date'])#, format= '%d/%m/%y')
db_tr_mod['Y_Return_Date'] = db_tr_mod['Return_Date'].dt.year.astype(str)
db_tr_mod['M_Return_Date'] = db_tr_mod['Return_Date'].dt.month.astype(str)

db_tr_mod['Early_RPL'] = pd.to_datetime(db_tr_mod['Early_RPL'])#, format= '%d/%m/%y')
db_tr_mod['Y_Early_RPL'] = db_tr_mod['Early_RPL'].dt.year.astype(str)
db_tr_mod['M_Early_RPL'] = db_tr_mod['Early_RPL'].dt.month.astype(str)

db_tr_mod['Latest_RPL'] = pd.to_datetime(db_tr_mod['Latest_RPL'])#, format= '%d/%m/%y')
db_tr_mod['Y_Latest_RPL'] = db_tr_mod['Latest_RPL'].dt.year.astype(str)
db_tr_mod['M_Latest_RPL'] = db_tr_mod['Latest_RPL'].dt.month.astype(str)

db_tr_mod['Initial_System_Date'] = pd.to_datetime(db_tr_mod['Initial_System_Date'])#, format= '%d/%m/%y')
db_tr_mod['Y_Initial_System_Date'] = db_tr_mod['Initial_System_Date'].dt.year.astype(str)
db_tr_mod['M_Initial_System_Date'] = db_tr_mod['Initial_System_Date'].dt.month.astype(str)

######## 5 LOGARITMIC TRANSFORMATION  ->  to do ????


######## 6 BINNING OR DISCRETIZATION OR OTHER   -> to do ???  -> example ....
#from sklearn.preprocessing import KBinsDiscretizer
#discretizer = KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='quantile')# strategy='discretizer.fit(dataset_df[['mean radius']])
#KBinsDiscretizer(encode='ordinal', n_bins=5, strategy='quantile')
#discrete_uniform=discretizer.transform(dataset_df[['mean radius']])

######## 7 NEW KPI / FEATURING ENGENEER.  -> to finish ... some example...
db_tr_mod['GG_Diff_LastMeeting'] = db_tr_mod['LastMeeting']-db_tr_mod['FirstMeeting']



#df['col_name'] = df['col_name'].astype('category')
db_tr_mod.head(4)

,ID_CRM,Poverty_Code,Region,CRM_Segment,School_Type,Parent_Meeting_Flag,MDR_Low_Grade,MDR_High_Grade,Total_School_Enrollment,Income_Level,...,M_Departure_Date,Y_Return_Date,M_Return_Date,Y_Early_RPL,M_Early_RPL,Y_Latest_RPL,M_Latest_RPL,Y_Initial_System_Date,M_Initial_System_Date,GG_Diff_LastMeeting
0,01000I,0,Other,10.0,Catholic,1.0,PK,8.0,403.0,I,...,5.0,2019.0,5.0,2018.0,4.0,2018.0,8.0,2018.0,4.0,130 days
1,01001O,0,Other,9.0,CHD,1.0,K,12.0,732.0,O,...,2.0,2019.0,2.0,2018.0,9.0,2018.0,9.0,2018.0,3.0,-4 days
2,01002G,0,Other,5.0,Catholic,1.0,K,8.0,521.0,G,...,5.0,2019.0,6.0,2018.0,1.0,2018.0,9.0,2018.0,1.0,-4 days
3,01011Q,0,Other,9.0,CHD,1.0,K,12.0,437.0,Q,...,3.0,2019.0,3.0,2018.0,4.0,2018.0,9.0,2018.0,4.0,124 days

<font size="6"> 2.2 Check Duplication-> OK </font>

In [12]:
##########################################
######## CHECK DUPLICATES
print(db_tr_mod.shape)
print(type(db_tr_mod))

db_tr_mod.duplicated()
db_tr_mod[db_tr.duplicated()]

#data.drop_duplicates(inplace=True)
print(db_tr.shape)

(4159, 79)
<class 'pandas.core.frame.DataFrame'>
(4159, 79)

<font size="6"> 2.3 Missing value -> To do .... </font>

In [13]:
##########################################
#If target is missing then we will delete record


##########################################
######## CHECK MISSING VALUE
db_tr_mod.isna().head()
#on the entire dataframe

,ID_CRM,Poverty_Code,Region,CRM_Segment,School_Type,Parent_Meeting_Flag,MDR_Low_Grade,MDR_High_Grade,Total_School_Enrollment,Income_Level,...,M_Departure_Date,Y_Return_Date,M_Return_Date,Y_Early_RPL,M_Early_RPL,Y_Latest_RPL,M_Latest_RPL,Y_Initial_System_Date,M_Initial_System_Date,GG_Diff_LastMeeting
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

<font size="6"> 2.4 Outlier -> To do .... </font>

In [14]:
#%matplotlib inline
#db_tr_mod.boxplot()
#db_tr_mod.hist()


#db_tr_mod.groupby("Poverty_Code").mean()

#np.log10(db_tr_mod["MDR_High_Grade"]).hist()