In [1]:
import pandas as pd
import numpy as np

In [2]:
db_v01 = pd.read_csv("db_v01.csv", sep = ",")
db_v01.head(5)

,ID_CRM,Poverty_Code,Region,CRM_Segment,School_Type,Parent_Meeting_Flag,MDR_Low_Grade,MDR_High_Grade,Total_School_Enrollment,Income_Level,...,SPR_Group_Revenue,FPP_to_PAX,Num_of_Non_FPP_PAX,compound,num_words,num_tweets,compound_min,compound_max,num_words_max,num_words_min
0,01000I,0,Other,10.0,Catholic,1.0,PK,8.0,403.0,I,...,1080.0,"0,883965173706063",2.0,0.178200,21.333333,3.0,0.0000,0.5106,24.0,17.0
1,01001O,0,Other,9.0,CHD,1.0,K,12.0,732.0,O,...,980.0,"0,969502836569957",4.0,0.549233,16.000000,3.0,0.0000,0.9307,19.0,10.0
2,01002G,0,Other,5.0,Catholic,1.0,K,8.0,521.0,G,...,1535.0,"0,902901999738532",3.0,0.164200,8.333333,3.0,0.0000,0.4926,13.0,5.0
3,01011Q,0,Other,9.0,CHD,1.0,K,12.0,437.0,Q,...,1316.0,"0,931510148972007",1.0,-0.215000,10.666667,3.0,-0.4215,0.0000,16.0,8.0
4,01013I,0,Dallas,1.0,CHD,1.0,PK,12.0,226.0,I,...,1702.0,"0,918461093031125",1.0,0.697367,8.666667,3.0,0.6369,0.7964,10.0,8.0

In [3]:
#Convert strings with comma to floats
db_v01["FPP_to_School_enrollment"] = db_v01["FPP_to_School_enrollment"].apply(lambda x: float(x.replace(",",".")) if isinstance(x,str) else x)
db_v01["FRP_Take_up_percent_"] = db_v01["FRP_Take_up_percent_"].apply(lambda x: float(x.replace(",",".")) if isinstance(x,str) else x)
db_v01["EZ_Pay_Take_Up_Rate"] = db_v01["EZ_Pay_Take_Up_Rate"].apply(lambda x: float(x.replace(",",".")) if isinstance(x,str) else x)
db_v01["FPP_to_PAX"] = db_v01["FPP_to_PAX"].apply(lambda x: float(x.replace(",",".")) if isinstance(x,str) else x)

In [4]:
db_v01.duplicated()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
4129    False
4130    False
4131    False
4132    False
4133    False
4134    False
4135    False
4136    False
4137    False
4138    False
4139    False
4140    False
4141    False
4142    False
4143    False
4144    False
4145    False
4146    False
4147    False
4148    False
4149    False
4150    False
4151    False
4152    False
4153    False
4154    False
4155    False
4156    False
4157    False
4158    False
Length: 4159, dtype: bool

In [5]:
db_v01[db_v01.duplicated()]

Empty DataFrame
Columns: [ID_CRM, Poverty_Code, Region, CRM_Segment, School_Type, Parent_Meeting_Flag, MDR_Low_Grade, MDR_High_Grade, Total_School_Enrollment, Income_Level, SPR_New_Existing, NumberOfMeetingswithParents, FirstMeeting, LastMeeting, DifferenceTraveltoFirstMeeting, DifferenceTraveltoLastMeeting, SchoolGradeTypeLow, SchoolGradeTypeHigh, SchoolGradeType, SchoolSizeIndicator, ID, ID_SALES, Program_Code, From_Grade, To_Grade, Group_State, Days, Travel_Type, Departure_Date, Return_Date, Early_RPL, Latest_RPL, Cancelled_Pax, Total_Discount_Pax, Initial_System_Date, SPR_Product_Type, FPP, Total_Pax, DepartureMonth, GroupGradeTypeLow, GroupGradeTypeHigh, GroupGradeType, MajorProgramCode, FPP_to_School_enrollment, Retained, ID_FINANCE, Deposit_Date, Special_Pay, Tuition, FRP_Active, FRP_Cancelled, FRP_Take_up_percent_, EZ_Pay_Take_Up_Rate, School_Sponsor, SPR_Group_Revenue, FPP_to_PAX, Num_of_Non_FPP_PAX, compound, num_words, num_tweets, compound_min, compound_max, num_words_max, num_words_min]
Index: []

[0 rows x 64 columns]